.hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 98, 108, 0.502);
}

.frontText {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
}

.h1-small {
    margin-top: 30px;
    font-size: clamp(1.75rem, -0.2746rem + 8.6385vw, 7.5rem);
}

.h1-big {
    font-size: clamp(3.125rem, -0.1761rem + 14.0845vw, 12.5rem);
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.btnFrontpage {
    padding: 30px 60px;
    font-family: "Zen Loop", cursive;
    font-size: 45px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 80px 0 80px 0;
    cursor: pointer;
}

.btnFrontpage:hover {
    background-color: rgba(255, 255, 255, 0.392);
}

@media(min-width: 768px) {
    .hero-image {
        height: 80vh;
    }

    .frontText {
        top: 35%;
        left: 50%;
    }

    .name {
        display: flex;
        gap: 20px;
        align-items: baseline;
        justify-content: center;
    }

    .h1-big, .h1-small {
        font-size: clamp(5rem, 4.5599rem + 1.8779vw, 6.25rem);
    }
}