.frontpage-review {
    margin-top: 100vh;
    background-color: #CFD3CE;
    padding: 100px 30px;
}


.h2-rev {
    font-size: clamp(5rem, 4.7799rem + 0.939vw, 5.625rem);
    background-color: #C6B497;
    border-radius: 70px 0 70px 0;
    padding: 20px 30px;
    margin-bottom: 40px;
}

.innerFrontpageReview {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 60px 30px;
    border-radius: 70px 0 70px 0;
    background-color: #839B97;
    margin: 40px 0;
}

.h4-revName {padding-top: 20px;}

.h4-revStay {padding-bottom: 20px;}