.frontpage-review {
    margin-top: 100vh;
    background-color: #CFD3CE;
    padding: 100px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;   
}

.h2-rev {
    font-size: clamp(5rem, 4.7799rem + 0.939vw, 5.625rem);
    background-color: #C6B497;
    border-radius: 70px 0 70px 0;
    padding: 20px 30px;
    margin-bottom: 40px;
}

.innerFrontpageReview {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 60px 30px;
    border-radius: 70px 0 70px 0;
    background-color: #839B97;
    margin: 40px 0;
}

.frontpage-review h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.h4-revName {padding-top: 20px;}

.h4-revStay {padding-bottom: 20px;}

@media(min-width: 768px) {
    .frontpage-review {
        margin-top: 70vh;
    }
}