.burger > img {
    width: 40px;
    height: auto;
    background-color: #839B97;
    filter: invert(100%);
    padding: 10px;
    border-radius: 10px 0 10px 0;
}

.burger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}