.burger img {
    width: 40px;
    height: auto;
    background-color: #839B97;
    filter: invert(100%);
    padding: 10px;
    border-radius: 10px 0 10px 0;
}

.burger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

.nav-list {
    display: none;
    list-style-type: none;
    background-color: #849B97;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    padding: 20px;
    flex-direction: column;
    z-index: 5;
    font-family: "Zen Loop", cursive;
    font-size: 30px;
    color: white;
    text-align: center;
}

.nav-list.show {
    display: flex;
}

.nav-link {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background: #666;
}

@media(min-width: 768px) {
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 7vh;
        align-items: center;
        background-color: #849b97b1;
    }

    .burger {
        display: none;
    }
}